In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Data/melb_data.csv', sep=';')
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03/12/16,02.05,3067.00.00,...,1.0,1.0,202.00.00,NaN,NaN,Yarra,-377.996,1.449.984,Northern Metropolitan,4019.00.00
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04/02/16,02.05,3067.00.00,...,1.0,0.0,156.00.00,79.00.00,1900.00.00,Yarra,-378.079,1.449.934,Northern Metropolitan,4019.00.00
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04/03/17,02.05,3067.00.00,...,2.0,0.0,134.00.00,150.00.00,1900.00.00,Yarra,-378.093,1.449.944,Northern Metropolitan,4019.00.00
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,04/03/17,02.05,3067.00.00,...,2.0,1.0,94.00.00,NaN,NaN,Yarra,-377.969,1.449.969,Northern Metropolitan,4019.00.00
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,04/06/16,02.05,3067.00.00,...,1.0,2.0,120.00.00,142.00.00,2014.00.00,Yarra,-378.072,1.449.941,Northern Metropolitan,4019.00.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/17,16.07,3150.00.00,...,2.0,2.0,652.00.00,NaN,1981.00.00,NaN,-3.790.562,14.516.761,South-Eastern Metropolitan,7392.00.00
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/17,06.08,3016.00.00,...,2.0,2.0,333.00.00,133.00.00,1995.00.00,NaN,-3.785.927,14.487.904,Western Metropolitan,6380.00.00
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/17,06.08,3016.00.00,...,2.0,4.0,436.00.00,NaN,1997.00.00,NaN,-3.785.274,14.488.738,Western Metropolitan,6380.00.00
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/17,06.08,3016.00.00,...,1.0,5.0,866.00.00,157.00.00,1920.00.00,NaN,-3.785.908,14.489.299,Western Metropolitan,6380.00.00
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/17,06.03,3013.00.00,...,1.0,1.0,362.00.00,112.00.00,1920.00.00,NaN,-3.781.188,14.488.449,Western Metropolitan,6543.00.00

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  object
 9   Postcode       13580 non-null  object
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  object
 14  BuildingArea   7130 non-null   object
 15  YearBuilt      8205 non-null   object
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  object
 18  Longtitude     13580 non-null  object
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  object
dtypes: float64(4), int64(1), object(16)
memory usage: 2.2+ MB

In [4]:
df.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [5]:
Isi = {'Car' : '2.0', 'BuildingArea' :'200.000.00', 'YearBuilt' : '1990', 'CouncilArea' : 'Yarra'}

In [6]:
df.fillna(Isi, inplace=True)
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03/12/16,02.05,3067.00.00,...,1.0,1.0,202.00.00,200.000.00,1990,Yarra,-377.996,1.449.984,Northern Metropolitan,4019.00.00
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04/02/16,02.05,3067.00.00,...,1.0,0.0,156.00.00,79.00.00,1900.00.00,Yarra,-378.079,1.449.934,Northern Metropolitan,4019.00.00
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04/03/17,02.05,3067.00.00,...,2.0,0.0,134.00.00,150.00.00,1900.00.00,Yarra,-378.093,1.449.944,Northern Metropolitan,4019.00.00
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,04/03/17,02.05,3067.00.00,...,2.0,1.0,94.00.00,200.000.00,1990,Yarra,-377.969,1.449.969,Northern Metropolitan,4019.00.00
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,04/06/16,02.05,3067.00.00,...,1.0,2.0,120.00.00,142.00.00,2014.00.00,Yarra,-378.072,1.449.941,Northern Metropolitan,4019.00.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/17,16.07,3150.00.00,...,2.0,2.0,652.00.00,200.000.00,1981.00.00,Yarra,-3.790.562,14.516.761,South-Eastern Metropolitan,7392.00.00
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/17,06.08,3016.00.00,...,2.0,2.0,333.00.00,133.00.00,1995.00.00,Yarra,-3.785.927,14.487.904,Western Metropolitan,6380.00.00
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/17,06.08,3016.00.00,...,2.0,4.0,436.00.00,200.000.00,1997.00.00,Yarra,-3.785.274,14.488.738,Western Metropolitan,6380.00.00
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/17,06.08,3016.00.00,...,1.0,5.0,866.00.00,157.00.00,1920.00.00,Yarra,-3.785.908,14.489.299,Western Metropolitan,6380.00.00
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/17,06.03,3013.00.00,...,1.0,1.0,362.00.00,112.00.00,1920.00.00,Yarra,-3.781.188,14.488.449,Western Metropolitan,6543.00.00

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  object
 9   Postcode       13580 non-null  object
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13580 non-null  object
 13  Landsize       13580 non-null  object
 14  BuildingArea   13580 non-null  object
 15  YearBuilt      13580 non-null  object
 16  CouncilArea    13580 non-null  object
 17  Lattitude      13580 non-null  object
 18  Longtitude     13580 non-null  object
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  object
dtypes: float64(3), int64(1), object(17)
memory usage: 2.2+ MB

In [8]:
df.to_csv('Data/melb_dataEdit')

In [9]:
df = pd.read_csv('Data/melb_dataEdit', index_col = 'Unnamed: 0')
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03/12/16,02.05,3067.00.00,...,1.0,1.0,202.00.00,200.000.00,1990,Yarra,-377.996,1.449.984,Northern Metropolitan,4019.00.00
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04/02/16,02.05,3067.00.00,...,1.0,0.0,156.00.00,79.00.00,1900.00.00,Yarra,-378.079,1.449.934,Northern Metropolitan,4019.00.00
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04/03/17,02.05,3067.00.00,...,2.0,0.0,134.00.00,150.00.00,1900.00.00,Yarra,-378.093,1.449.944,Northern Metropolitan,4019.00.00
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,04/03/17,02.05,3067.00.00,...,2.0,1.0,94.00.00,200.000.00,1990,Yarra,-377.969,1.449.969,Northern Metropolitan,4019.00.00
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,04/06/16,02.05,3067.00.00,...,1.0,2.0,120.00.00,142.00.00,2014.00.00,Yarra,-378.072,1.449.941,Northern Metropolitan,4019.00.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/17,16.07,3150.00.00,...,2.0,2.0,652.00.00,200.000.00,1981.00.00,Yarra,-3.790.562,14.516.761,South-Eastern Metropolitan,7392.00.00
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/17,06.08,3016.00.00,...,2.0,2.0,333.00.00,133.00.00,1995.00.00,Yarra,-3.785.927,14.487.904,Western Metropolitan,6380.00.00
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/17,06.08,3016.00.00,...,2.0,4.0,436.00.00,200.000.00,1997.00.00,Yarra,-3.785.274,14.488.738,Western Metropolitan,6380.00.00
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/17,06.08,3016.00.00,...,1.0,5.0,866.00.00,157.00.00,1920.00.00,Yarra,-3.785.908,14.489.299,Western Metropolitan,6380.00.00
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/17,06.03,3013.00.00,...,1.0,1.0,362.00.00,112.00.00,1920.00.00,Yarra,-3.781.188,14.488.449,Western Metropolitan,6543.00.00

In [11]:
df.drop(df.index[1500:13578], inplace = True)
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03/12/16,02.05,3067.00.00,...,1.0,1.0,202.00.00,200.000.00,1990,Yarra,-377.996,1.449.984,Northern Metropolitan,4019.00.00
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04/02/16,02.05,3067.00.00,...,1.0,0.0,156.00.00,79.00.00,1900.00.00,Yarra,-378.079,1.449.934,Northern Metropolitan,4019.00.00
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04/03/17,02.05,3067.00.00,...,2.0,0.0,134.00.00,150.00.00,1900.00.00,Yarra,-378.093,1.449.944,Northern Metropolitan,4019.00.00
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,04/03/17,02.05,3067.00.00,...,2.0,1.0,94.00.00,200.000.00,1990,Yarra,-377.969,1.449.969,Northern Metropolitan,4019.00.00
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,04/06/16,02.05,3067.00.00,...,1.0,2.0,120.00.00,142.00.00,2014.00.00,Yarra,-378.072,1.449.941,Northern Metropolitan,4019.00.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,Bulleen,1/7 Westwood Dr,3,u,812500.0,S,Barry,19/11/16,11.08,3105.00.00,...,1.0,1.0,421.00.00,200.000.00,1990,Manningham,-377.798,1.451.023,Eastern Metropolitan,4480.00.00
1496,Bulleen,14 Collins St,3,h,990000.0,PI,Barry,22/08/16,11.08,3105.00.00,...,1.0,2.0,602.00.00,175.00.00,1975.00.00,Manningham,-377.674,1.450.988,Eastern Metropolitan,4480.00.00
1497,Bulleen,4 Graeme Ct,4,h,1244000.0,PI,Fletchers,23/04/16,11.08,3105.00.00,...,2.0,2.0,530.00.00,200.000.00,1990,Manningham,-377.735,145.088,Eastern Metropolitan,4480.00.00
1498,Bulleen,19 Barak St,4,h,1100000.0,PI,Barry,24/09/16,11.08,3105.00.00,...,2.0,2.0,693.00.00,212.00.00,1975.00.00,Manningham,-377.743,1.450.863,Eastern Metropolitan,4480.00.00
1499,Bulleen,13 Birrarrung Ct,4,h,1475000.0,VB,Barry,24/09/16,11.08,3105.00.00,...,2.0,2.0,617.00.00,200.000.00,1998.00.00,Manningham,-377.569,1.450.913,Eastern Metropolitan,4480.00.00

Pada data transformasi ini saya menggunakan IMPUTASI NILAI SUKA-SUKA karena menurut saya imputasi ini sangat mudah untuk mengisi data null pada berbagai kolom yang masih terdapat data null. Hanya saja Imputasi ini kurang efektif dalam mengolah data yang sebenarnya karena kisaran untuk imputasi nilai suka- suka low range(sekitar 1-100 data saja).